.btn-3{
    background-image: url(../img/Project-Managment-final.png);
    background-size: cover;
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 100vh;
}
.all-btn{
    display: flex;
    gap: 150px;
    justify-content: center;
    height: 100%;
    align-items: center;

    #navbar{
        border: 0;
        padding: 20px 120px;
        border-radius: 20px;
        background-color: rgb(35, 85, 177);
        color: white;
        text-decoration: none;
        font-size: 20px;
        
    }
}